---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
 
{% include github-md.scss %}
{% include post-list-style.scss %}

$main: #fff;
$secondary: #fff;
$highlight:	#fff;
$white: #FFFFFF;
$red: #E81A54;
$black: #000;
$background: #3b81cc;
$footer-color: #7a7a7a;

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	min-width: 500px;
	margin: 0;
	padding: 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	width: 800px;
	max-width: 90%;
	margin: 0 auto;
}

#top_header {
	padding: 2.5em 0;
	margin: 0 0 2.5em 0;
	text-transform: lowercase;
	background-color: $background;
	.logo {
		text-align: center;
		font-size: 2em;
		a {
			color: $main;
			text-decoration: none;
			-webkit-transition:1.0s;
			&:hover {
				color: #aabbcc;
			}
		}

	}
	#main_nav {
		&:before {
			content: "";
			    display: block;
			    height: 0.25em;
			    opacity: 0.6;
			    
		}
		text-align: center;
		font-size: .9em;
		padding-top: 2.5em;
		a {
			color: $secondary;
			text-decoration: none;
			text-transform: uppercase;
			-webkit-transition:1.0s;
			margin-left: 1em;

			&:hover {
				color:$highlight;
			}
		}
	}
}

#main_footer {
	padding: 4.5em 0;
	p {
		color: $footer-color;
		font-size: .75em;
		margin: 0;
	}
	.links {
		display: inline;
		a {
			color: $footer-color;
			font-size: .75em;
			text-decoration: none;
			margin: 0 0.5em;
			&:hover {
				color: $highlight;
			}
		}
	}
}