$line-color: #AEB0B0;
$red: #E81A54;
$darkgrey: #3b81cc;
$secondary: #8b8b9f;
$light-grey: #aaa;

.date {
	color: $light-grey;
	text-transform: lowercase;
	font-weight: 500;
	font-size:1.15em;
}

.title {
	font-weight: 700;
	font-size:2em;
}

.post-content {
	font-size: 1.05em;
}