$line-color: #AEB0B0;
$red: #E81A54;
$secondary: #8b8b9f;


#posts {
	 list-style: none;
		.item {
			.info {

			}
			a {
				float: left;
				font-weight: 700;
				text-decoration: none;
				color: $red;
				font-size: 1.15em;
				&:hover{
					text-decoration: underline;
				}
			}
			#date {
				font-size: 0.8em;
				text-transform: uppercase;
				float: right;
			}
			blockquote {
				font-family: Georgia, serif;
				font-size: 1.0em;
				font-style: italic;
				width: 500px;
				margin: 0.25em 0;
				padding: 0.35em 40px;
				line-height: 1.45;
				position: relative;
				color: #383838;	
				&:before {
					display: block;
					padding-left: 10px;
					content: "\201C";
					font-size: 80px;
					position: absolute;
					left: -20px;
					top: -30px;
					color: #7a7a7a;
				}
				&:after {
				    font-family: Georgia, serif;
				    position: absolute;
				   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
				    float:left;
				    font-size:80px;
				    line-height: 1;
				    right:0;
				    bottom:-0.5em;
				    content: "\201D";
					color: #7a7a7a;

				}			
				
			}
			.detail {
				padding-top: 0.7em;
				text-transform: lowercase;
				color: $secondary;
				&:before {
					content: "\a";
					white-space: pre;
				}
			}
			&:after {
			    content: "";
			    display: block;
			    height: 0.25em;
			    margin: 3em;
			    opacity: 0.6;
			    background: $line-color;
			}
	}
}


