$line-color: #AEB0B0;
$red: #E81A54;
$darkgrey: #3b81cc;
$secondary: #8b8b9f;
$quote-color: #7a7a7a;

#posts {
	 list-style: none;
	 padding-top: 0.1em;
		.item {
			.info {

			}
			a {
				float: left;
				font-weight: 700;
				text-decoration: none;
				color: $darkgrey;
				font-size: 1.15em;
				&:hover{
					text-decoration: underline;
				}
			}
			#date {
				font-size: 0.8em;
				text-transform: uppercase;
				float: right;
			}
			blockquote {
				font-family: Georgia, serif;
				font-size: 1.0em;
				font-style: italic;
				width: 80%;
				margin: 0.25em 0;
				padding: 0.35em 2.25em 0.35em 3.25em;
				line-height: 1.45;
				position: relative;
				color: #383838;	
				&:before {
					display: block;
					padding-left: 0.15em;
					content: "\201C";
					font-size: 5em;
					position: absolute;
					left: -0.20em;
					top: -0.40em;
					color: $quote-color;
				}			
				
			}
			.detail {
				padding-top: 0.7em;
				text-transform: lowercase;
				color: $secondary;
				&:before {
					content: "\a";
					white-space: pre;
				}
			}
			&:not(:last-child):after {
			    content: "";
			    display: block;
			    height: 0.25em;
			    margin: 3em;
			    opacity: 0.6;
			    background: $line-color;
			}
	}
}


